#applicationForm{
    
    width: 70%;
    height: fit-content;
    margin: 0px auto;

}
#onboardingBody{
width: 100%;
height: fit-content;
margin: 0px auto;

}

embed{
    width: 1000px;
    height: 1000px;
}